
@{
    ViewBag.Title = "Find";
}

<h1>Find Course!</h1>
<div class="row">
    <form class="col-md-12">
        <input id="searchTerm"
               name="searchTerm"
               type="search"
               placeholder="Enter Course Title" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="searchResults" class="list-group"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("form").on("submit", function onClick(event) {
                event.preventDefault();

                var searchTerm = $("#searchTerm").val();
                var url = `/api/course?title=${searchTerm}`;
                $("#searchResults").text("Loading...");
                $.ajax({
                    method: "GET",
                    url: url,
                }).then(function (courses) {
                    var html = '';
                    courses.forEach(function (course) {
                        html += `<div class="list-group-item">${course.Title}</div>`;
                    })
                    $("#searchResults").html(html);
                }).catch(function (error) {
                    console.log(error);
                    $("#searchResults").html("There was an error loading courses. Please try again.")
                });
            });
            
        });
    </script>


}

